server_0_catalog_rows=5
server_0_fetch_thumbs=1
server_0_auth_mode=0
server_0_auth_url=
server_0_name=Project Gutenberg
server_0_pass=
server_0_url=https://www.gutenberg.org/ebooks.opds/
server_0_user=
server_1_catalog_rows=6
server_1_fetch_thumbs=1
server_1_auth_mode=0
server_1_auth_url=
server_1_name=Wikisource
server_1_pass=
server_1_url=https://ws-export.wmcloud.org/opds/en/Ready_for_export.xml
server_1_user=
server_2_catalog_rows=6
server_2_fetch_thumbs=1
server_2_auth_mode=0
server_2_auth_url=
server_2_name=Wikisource
server_2_pass=
server_2_url=https://ws-export.wmcloud.org/opds/en/Ready_for_export.xml
server_2_user=
server_count=2

#55d220fb
